body{
  background-color: rgb(201, 163, 113);
}

.container-fluid > a {
  font-size: 200%;
  font-weight: bold;
}

.card {
  margin: 2%;
}

#addRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group{
  margin-bottom: 0.5%;
  margin-right: 25%;
  margin-left: 25%;
}
.form-control{
  margin: 1%;
  border-color: green;
}
.modalField{
  margin: 0.5%;
}