
<!-- carousels -->
<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="bookC2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="bookC.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="bookC3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- sliding container -->
  <div class="row heading-row">Featured</div>

  <div class="row book-slide-p">
  <div class="row  book-slide col-md-9">

    <!-- cards moving! -->
    <div class="card slide-view-card" style="width: 18rem;">
      <img src="bookC.jpg" class="card-img-top" alt="...">
      <div class="card-body slide-view-card-body">
        <p class="card-text">Some quick example text.</p>
        <div class="row centered-items">
        <button id="myButton" class="btn btn-info">Buy</button>
      </div>
      </div>
    </div>

    <div class="card slide-view-card" style="width: 18rem;">
      <img src="bookC.jpg" class="card-img-top" alt="...">
      <div class="card-body slide-view-card-body">
        <p class="card-text">Some quick example text.</p>
        <div class="row centered-items">
        <button class="btn btn-info">Buy</button>
      </div>
      </div>
    </div>

    <div class="card slide-view-card" style="width: 18rem;">
      <img src="bookC.jpg" class="card-img-top" alt="...">
      <div class="card-body slide-view-card-body">
        <p class="card-text">Some quick example text.</p>
        <div class="row centered-items">
        <button class="btn btn-info">Buy</button>
      </div>
      </div>
    </div>

    <div class="card slide-view-card" style="width: 18rem;">
      <img src="bookC.jpg" class="card-img-top" alt="...">
      <div class="card-body slide-view-card-body">
        <p class="card-text">Some quick example text.</p>
        <div class="row centered-items">
        <button class="btn btn-info">Buy</button>
      </div>
      </div>
    </div>
    
    <div class="card slide-view-card" style="width: 18rem;">
      <img src="bookC.jpg" class="card-img-top" alt="...">
      <div class="card-body slide-view-card-body">
        <p class="card-text">Some quick example text.</p>
        <div class="row centered-items">
        <button class="btn btn-info">Buy</button>
      </div>
      </div>
    </div>
    

    


  </div>
  
  </div>

        <!-- genres -->
        <div class="row heading-row">Categories</div>
        <div class="row genres-p-p" >
  
          <div class="row col-md-9 genres-p">
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
    
            </div>
            <div class="col-md-2 genre">
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            
    
          </div>
        </div>
  
        <div class="row genres-p-p" >
  
          <div class="row col-md-9 genres-p">
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
    
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            
    
          </div>
        </div>
  
        <div class="row genres-p-p" >
  
          <div class="row col-md-9 genres-p">
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
    
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            <div class="col-md-2 genre" >
              <img src="bookC2.jpg" alt="" style="height: 30vh; width: 30vh;">
  
              
            </div>
            
    
          </div>
        </div>
  
  
  
  
  <!-- banner -->
        <div class="row banner">
          <div class="col-md-4 banner-item">
  
            
  
          </div>
          <div class="col-md-4 banner-item">
  
          </div>
        </div>

