
<div class="row">

<div class="col-lg-6 col-md-6 col-1 login-left-col" >
  <div class="row justify-content-center login-main-row">
 <img class="sideImg" src="bookStack.png" alt="">
  </div>
</div>


<div class="col-lg-6 col-md-6 col-11 login-main-col">
  <div class="row justify-content-center login-main-row">
    <div class="col-md-5 inner-col" >
      <form method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" value="rayyan6@gmail.com" />
          <div class="lowText" id="lowText2"></div>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" value="test" />
          <div class="lowText" id="lowText3"></div>
        </div>
        
        <div class="container btnContainer">
          <button type="submit" class="btn btn-primary" id="submitBtn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
  
</div>


</div>