body #right-half{
    color: #ffffff;
}

body #left-half{
    color: #574848;
}

#mainContainer{
    display: flex;
    width: 100%;
}

#left-half{
    display: flex;
    flex-direction: column;
    width: 35%;
    
    background-color: #ffffff; 
    padding: 20px;
    align-items: start;
    /* justify-content: center; */
}

#right-half {
    width: 65%;
    background-color: #574848;
    padding: 20px;
    /* justify-content: center; */
  }

#introRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */

    justify-content: space-between;
    /* justify-content: center; */

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    /* padding-right: 50;
    margin-left: 50;
    margin-right: 50; */
}

#profileName{
    font-size: 50px;
    
    font-weight: bold;
    /* padding-right: 10%; */
}

#profilePic{
    border-radius: 50%;
    overflow: hidden;
    /* padding-left: 45px; */
    /* margin-left: ; */

}

.contactRow{
    margin-top: 60px;
    display: flex;
    width: 100%;
    padding-left: 10%;
}

#col1 .item{
    font-weight: bold;
    /* font-size: x-large; */
}

#col2 .item{
    width: 100%;
    margin-left: 40%;
    /* font-size: x-large; */
}

.expHead{
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.expHead #col1 .itemNew{
    font-size: smaller;
    color: #d9dad9;
}

.expHead #col2 .itemNew{
    font-size: smaller;
    color: #d9dad9;
    width: 100%;
    margin-left: 40%;

}

.expHead #col1 .item{
    font-weight: bold;
    font-size: x-large;
}

.expHead #col2 .item{
    width: 100%;
    margin-left: 40%;
    font-size: x-large;
}


.eduHead{
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.eduHead #col1 .item{

    font-weight: bold;
    font-size: larger;

}

.eduHead #col2 .item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-left: 10%;
    font-size: larger;
}

.eduHead #col1 .itemNew{
    font-size: smaller;
    color: #d9dad9;
}

.eduHead #col2 .itemNew{
    font-size: smaller;
    color: #d9dad9;
    width: 100%; 
    margin-left: 10%; 

}

.eduHead #col1{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: start;
    /* justify-content: center; */
}
.eduHead #col2{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: start;
    /* justify-content: center; */
}

/* progress Bar */

#skillsCont{
    display: flex;
    width: 100%;
}

#skills-l{
    display: flex;
    flex-direction: column;
    width: 50%;

}

#skills-r{
    display: flex;
    flex-direction: column;
    width: 50%;


}


.progress-container {
    width: 300px;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    /* margin: 50px auto; */
}
.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #24cf66;
    border-radius: 10px;
    border: #ffffff;
    
}
 .progress-bar-90 {
    width: 90%;
} 
.progress-bar-80 {
    width: 80%;
} 
.progress-bar-70{
    width: 70%;

}
.progress-bar-40{
    width: 40%;

}

/* animation */

#myname{
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Hides the overflowing text */
    border-right: 0.15em solid orange; /* Creates a cursor effect */
    width: 0; /* Ensures the text is hidden initially */
    animation: typing 4s steps(22, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}