  /* CSS Styles */
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    /* background-color: rgb(73, 55, 34); */
    background-color: rgb(117, 93, 64);
    text-align: center;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #c0c0c0;
}

/* tr:hover {
    background-color: #ddd;
}  */

.genre-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}



.search-box {
    display: flex;
    align-items: center;
    background-color: rgb(173, 141, 101);
    border-color:rgb(173, 141, 101) ;

    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
.search-box input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 24px;
    flex: 1;
}
.search-box button {
    /* background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px; */


    border-radius: 24px;
    padding: 10px 20px;

    background-color: rgb(117, 93, 64);
    border-color: rgb(117, 93, 64);
    color: white;
    --bs-btn-active-bg:rgb(43, 33, 21);
  --bs-btn-active-border-color:rgb(43, 33, 21);
  --bs-btn-active-color:white;
}
.search-box button:hover {
    background-color: rgb(73, 55, 34);
    border-color: rgb(73, 55, 34);
    color: white;
}

.search-box input{
    background-color: transparent;
    color: white;
}
.search-box input::placeholder {
    color: black;
}