#mainContainer{
    display: flex;
    width: 100%;
}

#left-half{
    display: flex;
    flex-direction: column;
    width: 35%;
    
    background-color: #d9dad9; 
    padding: 20px;
    align-items: start;
    justify-content: center;
}

#right-half {
    width: 65%;
    background-color: #839c7e;
    padding: 20px;
    justify-content: center;
  }

#introRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */

    justify-content: space-between;
    /* justify-content: center; */

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    /* padding-right: 50;
    margin-left: 50;
    margin-right: 50; */
}

#profileName{
    font-size: 50px;
    
    font-weight: bold;
    /* padding-right: 10%; */
}

#profilePic{
    border-radius: 50%;
    overflow: hidden;
    /* padding-left: 45px; */
    /* margin-left: ; */

}

.contactRow{
    margin-top: 60px;
    display: flex;
    width: 100%;
    padding-left: 10%;
}

#col1 .item{
    font-weight: bold;
    /* font-size: x-large; */
}

#col2 .item{
    width: 100%;
    margin-left: 40%;
    /* font-size: x-large; */
}

.expHead{
    margin-top: 10px;
    display: flex;
    width: 100%;
}

#col1 .itemNew{
    font-size: smaller;
    color: #d9dad9;
}

#col2 .itemNew{
    font-size: smaller;
    color: #d9dad9;
    width: 100%;
    margin-left: 40%;

}

#right-half #col1 .item{
    font-weight: bold;
    font-size: x-large;
}

#right-half #col2 .item{
    width: 100%;
    margin-left: 40%;
    font-size: x-large;
}

