#mainContainer{
    display: flex;
    width: 100%;
}

#left-half{
    display: flex;
    flex-direction: column;
    width: 35%;
    
    background-color: #d9dad9; 
    padding: 20px;
    align-items: start;
    justify-content: center;
}

#right-half {
    width: 65%;
    background-color: #839c7e;
    padding: 20px;
    justify-content: center;
  }

#introRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */

    justify-content: space-between;
    /* justify-content: center; */

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    /* padding-right: 50;
    margin-left: 50;
    margin-right: 50; */
}

#profileName{
    font-size: 50px;
    
    font-weight: bold;
    /* padding-right: 10%; */
}

#profilePic{
    border-radius: 50%;
    overflow: hidden;
    /* padding-left: 45px; */
    /* margin-left: ; */

}

.contactRow{
    margin-top: 60px;
    display: flex;
    width: 100%;
    padding-left: 10%;
}

#col1 .item{
    font-weight: bold;
    /* font-size: x-large; */
}

#col2 .item{
    width: 100%;
    margin-left: 40%;
    /* font-size: x-large; */
}

.expHead{
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.expHead #col1 .itemNew{
    font-size: smaller;
    color: #d9dad9;
}

.expHead #col2 .itemNew{
    font-size: smaller;
    color: #d9dad9;
    width: 100%;
    margin-left: 40%;

}

.expHead #col1 .item{
    font-weight: bold;
    font-size: x-large;
}

.expHead #col2 .item{
    width: 100%;
    margin-left: 40%;
    font-size: x-large;
}


.eduHead{
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.eduHead #col1 .item{

    font-weight: bold;
    font-size: larger;

}

.eduHead #col2 .item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-left: 10%;
    font-size: larger;
}

.eduHead #col1 .itemNew{
    font-size: smaller;
    color: #d9dad9;
}

.eduHead #col2 .itemNew{
    font-size: smaller;
    color: #d9dad9;
    width: 100%; 
    margin-left: 10%; 

}

.eduHead #col1{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: start;
    /* justify-content: center; */
}
.eduHead #col2{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: start;
    /* justify-content: center; */
}

/* progress Bar */

  /* circular prog bar */
  .progress-circle {
    width: 25%;
    height: 90px; 
    justify-content: start;
  }
  
  .progress-circle-bg {
    fill: none;
    stroke: #f0f0f0; /* Background color */
    stroke-width: 8; /* Thickness of the circle */
  }
  
  .progress-circle-bar {
    fill: none;
    stroke: #4caf50;
    stroke-width: 6; 
    stroke-dashoffset: 0; 
  }

  .progress-circle-bar2{
    fill: none;
    stroke: #979595; 
    stroke-width: 6; 
    stroke-dashoffset: 0; 
  }
  